{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container content">
    <h1>
      Reverse Engineering Challenge Set
    </h1>
    <p class="subtitle">
      Justin's Final Year Project
    </p>
    <p>
      As part of my final year project, I'm experimenting with a new
      technique for designing hacking challenges for educational use.
    </p>
    <p>
      I'd really appreciate your help! I've designed a simple
      reverse-engineering challenge, which you can see below, in two parts - by
      solving each part, you'll get half of a flag (in the form <code>FLAG{...}</code>).
      The binaries are Linux-only, but you don't need Linux to solve them if
      you don't want!
    </p>
    <p>
      Once you've solved the challenge (or given up, that's fine too), please
      complete and submit a short survey of how how you found the challenges.
      All completed survey's will be eligible to win a £10 Amazon voucher,
      plus it'll help me out a lot!
    </p>
    <p>
      If you decide to do this, please don't discuss the challenges with anyone
      else until you've both submitted the survey - that'll help me get the
      most accurate results possible!
    </p>
  </div>
</section>
<section class="section">
  <div class="container content">
    <h2>Tools</h2>
    <p>
      To solve these challenges you can use any tools you like! But, if you're
      sure where to get started, try out some of these suggestions!
    </p>
    <ul>
      <li><a href="https://ghidra-sre.org/">Ghidra</a>, a reverse-engineering toolset (with all the bells and whistles)</li>
      <li>
        <code><a href="https://www.sourceware.org/binutils/docs/binutils/objdump.html">objdump</a></code>
        and
        <code><a href="https://www.sourceware.org/binutils/docs/binutils/readelf.html">readelf</a></code>,
        standard Linux tools for disassembling and inspecting programs
      </li>
      <li>
        <code><a href="https://strace.io/">strace</a></code>
        and
        <code><a href="https://www.ltrace.org/">ltrace</a></code>,
        to inspect system and library calls of running programs
      </li>
      <li><a href="https://sourceware.org/gdb/current/onlinedocs/gdb/">GDB</a>, the standard Linux debugger</li>
    </ul>
    <p>
      You definitely don't need to use all/any of these tools, but they can be
      a nice place to start!
    </p>
  </div>
</section>
<section class="section">
  <div class="container content">
    <h2>The Challenge</h2>
    <p>
      There are two parts to the challenge - each part has half of the flag.
    </p>
    <p>
      Once you have each half of the flag, just stick them together and submit
      it here!
    </p>
    <p>
    <a class="button" href="/challenges/0/{{ seed }}/challenge">
        <span>
          Part 1
        </span>
        <span class="icon is-small">
          <i class="fas fa-download"></i>
        </span>
      </a>
      <a class="button" href="/challenges/1/{{ seed }}/challenge">
        <span>
          Part 2
        </span>
        <span class="icon is-small">
          <i class="fas fa-download"></i>
        </span>
      </a>
    </p>
    <br />

    <form method="POST" style="max-width: 500px;">
      <div class="field">
        <label class="label">Flag submission</label>
        <div class="control has-icons-left">
          <input class="input {% if flag_error %}is-danger{% endif %}"
                 type="text"
                 name="flag"
                 placeholder="FLAG{...}"
                 {% if flag %}
                 value="{{ flag }}"
                 disabled
                 {% endif %}
          >
          <span class="icon is-small is-left">
            <i class="fas fa-flag"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" {% if flag %}disabled{% endif %}>Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
<section class="section">
  <div class="container content">
    <h2>Survey</h2>
    <p>
      Completing the challenge above will take you straight to the survey, or
      if you decide to not finish it, you can go straight to the survey - all
      completed survey's are elibile in a draw, not just the one's with
      correct solutions!
    </p>

    <p>
      <a class="button" href="/survey">Survey</a>
    </p>
  </div>
</section>
{% endblock %}
