{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container content">
    <h1 class="title">
      Reverse Engineering Challenge Set
    </h1>
    <p>
      Hi, thanks for being willing to help out with my final year project!
    </p>
    <p>
      This site uses cookies to store stateful information, which includes:
      <ul>
        <li>A unique identifier</li>
        <li>A flag (if you submit one successfully)</li>
        <li>A check to see if your browser has already submitted the form</li>
      </ul>
    </p>
    <p>
      Your data will <strong>not</strong> be shared with third parties, and
      will only be used to allow the website to work.
    </p>
    <p>
      To accept this use of cookies, and continue to the challenges, please
      click <strong><a href="/notice?confirm=true">here</a></strong>.
    </p>
  </div>
</section>
{% endblock %}
